

  @media (max-width:768px) {

    body, html {
        min-height: 100vh;
        flex-direction: column;
        display: flex;
    }

    header {
      flex-direction: row;
      text-align: center;
    }

    #tittle label {
        display: block;
        background: rgb(0,0,0);
    }
 
    .input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .btn-create .btn-ingresar{
      display: flex;
      justify-content: center;
      align-items: start;
    }

    .menu {
       position: absolute;
       background: rgb(0,0,0);
       width: 100%;
       margin-left: -100%;
       transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #boton-menu:checked ~ .menu {
        margin: 0;
    }

}

@media (max-width:1440px) {
    #infofoto {
        height: auto;
        max-width: 100%;
    }
}