@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    height: 90px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}  

header {
    width: 100%;  
}

main .container {
    box-sizing: border-box;
    flex: 1;
  }

#boton-menu {
      display: none;
  }

#title {
    background: blue;
}


#create {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

#tittle label {
    
      display: none;
      width: 30px;
      right: 30px;
      cursor: pointer;
      border-left: 1px solid #fff;
  }
#tittle label:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
  }

.menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: flex-end;
  }

.menu li {
    border-left: 1px solid #fff;
    
    
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
    
}

.menu li a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    background: rgb(38, 38, 41);
}

#input {
    display: flex;
    float: left;
    
    position: relative;
    margin: 30px;
    margin-bottom: 19px;
    border-bottom: 1px solid black;
    padding-top: 10%;
    padding: 20px ;
    width: 250px;
    height: 30px;
  }
 
.btn-create {
    width: 80%;
    margin: 30px;
    margin-bottom: 19px;
    padding-top: 10%;
    padding: 20px ;
    text-align: center;
    align-items: center;
  }

  .btn-ingresar {
    width: 80%;
    margin: 30px;
    margin-bottom: 19px;
    padding-top: 10%;
    padding: 20px ;
    text-align: center;
    align-items: center;
  }

  .btn {
      background: rgb(102, 102, 214);
      color: #fff;
      border-radius: 5px;
      width: 250px;
      height: 40px;
  }


#infofoto {
    text-align: center;
    height: auto;
    max-width: 100%;
    padding: 20px;
}

#infofoto img {
    font-size: 20px;
}

#infofoto h4 {
    margin: 20px;
    text-align: left;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  #000;
    padding-left: 4%;
    bottom: 0;
    position: fixed;
    width: -webkit-fill-available;
    color: #fff;
}

.sociales {
    width: 100%;
    text-align: center;
}

.help {
    width: 100%;
    text-align: right;
}

.copy {
    font-size: 20px;
}

.error{
    color:red;
    text-align: center;
}

  /*#img-menu {
      float: left;
  }

  

  header .container {
      display: table;
      height: 100vh;
      background: #fff
  }
  /*
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  nav a{
      text-decoration: none;
      display: block;
      padding: 10px;
      text-align: center;
  }
  
 
.infofoto{
    background-color: whitesmoke;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

footer{
    padding:2px;
    border:1px;
    margin:2px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    /* display: -webkit-flex;
    display: -ms-flexbox; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    display: flex;
    position: absolute;
    width: 80%;
}


*/