@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Open Sans', sans-serif;
}

/*.logo {
    height: 90px;
    
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}  */

header {
    width: 100%;
    background: rgb(128, 128, 224);
  }

#boton-menu {
      display: none;
  }

header label {
    
      display: none;
      width: 30px;
      right: 30px;
      cursor: pointer;
      border-left: 1px solid #fff;
  }
header label:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
  }

.menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: flex-end;
  }

.menu li {
    border-left: 1px solid #fff;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
}

@media (max-width:768px) {
    header label {
        display: block;
    }

    .menu {
       position: absolute;
       background: rgb(128, 128, 224);
       width: 100%;
       margin-left: -100%;
       transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #boton-menu:checked ~ .menu {
        margin: 0;
    }

}
  /*#img-menu {
      float: left;
  }

  

  header .container {
      display: table;
      height: 100vh;
      background: #fff
  }
  /*
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  nav a{
      text-decoration: none;
      display: block;
      padding: 10px;
      text-align: center;
  }
<<<<<<< Updated upstream
  
 
=======
  nav a:hover{
      background-color: blanchedalmond;
  }

 .logo {
    height: 200px;
    width: 800px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

}
>>>>>>> Stashed changes
.infofoto{
    background-color: whitesmoke;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

footer{
    padding:2px;
    border:1px;
    margin:2px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    /* display: -webkit-flex;
    display: -ms-flexbox; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    display: flex;
    position: absolute;
    width: 80%;
}

*/