body{
    background-color: #648CC6;
}
#logo{
    width: 100%;
    height: 200%;
    background: rgba(100, 139, 198, 0.521);
    padding:5%;
    border:1px;
    margin:5px;;

    display:-webkit-flex;
    display:-ms-flexbox;

    display:flex;
    
    justify-content: flex-start;


}